{% extends 'common/base.html.twig' %}

{% block body %}

<main class="zindex main textCenter">
    <div class="container-perso">
        <h2 class="reveal title punchline">Le compte à rebours pour notre planète est lancé. </h2>
        <p class="reveal">Plateforme de projet à rémunération collaborative visant à développer l'écologie de notre ville.</p>
        <p class="reveal">Changez le monde à votre niveau, faites un premier geste pour l'environnement grâce à kickstarter</p>
    </div>
</main>


<section class="greensection">
    <div class="container-perso">
        <h2 class="title reveal">Pourquoi existons-nous ?</h2>
        <div>
            <div class="reveal-right div-img imgfloat bdesktop4 desktop5 tablet8 phone12">
                <img class="img-fluid" src="img/crew.jpg" title="l'équipe greenstarter" alt="l'équipe greenstarter">
            </div>
            <p class="reveal-left reveal text textJustify">
                Notre société contient de réels défis écologiques et technologiques, contemporains ou pour l’avenir. Les avancées sont tellement rapides, qu’il est parfois compliqué, d’intégrer ces nouvelles technologies en milieu urbain, tout en conservant un écosystème équilibré, entre nature et béton. Tel le projet Vénus de l’architecte Jacques Fresco, la ville du futur, technologique et éco-responsable, devient de plus en plus nécéssaire, afin de répondre à une concentration démographique toujours plus grandissante, un réel besoin de connectivité, ainsi qu’un retour de la nature en milieu urbain.
            </p>
            <p class="reveal-left reveal text textJustify">
                Si l’on souhaite que cette utopie voit le jour, il faut se l’approprier, la prendre en main, et développer des outils nous permettant de réaliser ces projets. Les pouvoirs publics ne peuvent pas être seuls sur ces chantiers, et c’est bien par le désir et la volonté de tout un chacun, les citoyens en premier lieu, que nous pourrons voir ces projets se matérialiser. C’est pour cette raison, que GreenStarter existe : offrir une plateforme de financement participatifs, pour des projets éco-responsable, d’innovations technologiques, et d’energie décarbonnée en milieu urbain.
            </p>
        </div>
    </div>
</section>

<section class="whitesection">
    <div class="container-perso">
        <h2 class="title reveal">Que réalisons-nous ?</h2>
        <div>
            <div class="reveal-left div-img imgfloatleft bdesktop4 desktop5 tablet8 phone12">
                <img class="img-fluid" src="img/park.jpg" title="l'équipe greenstarter" alt="l'équipe greenstarter">
            </div>
            <p class="reveal-right reveal text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tempor mi. Ut tincidunt ac nunc non interdum. Vestibulum accumsan enim sed ex rutrum aliquam. Proin sed vulputate sapien. In hac habitasse platea dictumst. Sed vel maximus felis, vitae maximus augue. Duis tempor dignissim molestie. Quisque ut sodales dolor. Duis id blandit lorem. Ut sodales egestas nunc tincidunt luctus. Integer sem elit, iaculis viverra iaculis eget, sollicitudin non ante.
                Donec faucibus dictum leo, eu accumsan elit aliquam vitae. Curabitur lacinia diam quam, sit amet sagittis sapien lobortis nec. Nullam laoreet tincidunt sem in tincidunt. Aliquam ligula metus, congue nec fringilla varius, vulputate nec sem. Aenean faucibus ullamcorper diam eu faucibus. Nulla facilisi. Vivamus lacinia lectus at leo facilisis euismod. Sed nec mattis erat. Nullam tincidunt pretium orci at ornare. Vestibulum maximus est a lacus molestie, eget venenatis ipsum sagittis. Fusce at magna sit amet velit sollicitudin congue consequat non nisi. Sed placerat risus sit amet ligula efficitur viverra.
            </p>
        </div>
    </div>
</section>

<section class="greensection">
    <div class="container-perso">
        <h2 class="title reveal">Qui peut l'utiliser ?</h2>
        <div class="itemsCenter">
            <div>
                <div class="reveal-right div-img imgfloat bdesktop4 desktop5 tablet8 phone12">
                    <img class="img-fluid" src="img/you.jpg" title="l'équipe greenstarter" alt="l'équipe greenstarter">
                </div>
                <p class="reveal reveal-left text textJustify">
                    Notre site est accessible à tout utilisateur qui veut créer ou participer à des projets innovants, technologiques, et/ou écologiques.
                </p>
                <p class="reveal reveal-left text textJustify">
                    Le but de notre plateforme est d’aider en priorité les petits quartiers qui veulent se développer : ils peuvent ainsi profiter d’un environnement plus saint, plus vert, et cela peut influencer les générations futures à participer à ce développement pour préserver notre planète et ainsi avoir un meilleur futur.
                </p>
                <p class="reveal reveal-left text textJustify">
                    Les projets d'entreprises, type start-up, peuvent aussi profiter de notre aide pour se lancer, par le biais d'une campagne de financement participatif, et améliorer leur visibilité, afin de les aider à s'intégrer dans le bassin économique local.
                    Passer par notre site pour soutenir des projets peut permettre aussi d’avoir des avantages : réductions d'impôts, bon d'achats dans les commerces partenaires éco-responsables de la ville, etc..
                </p>
                <p class="reveal reveal-left text textJustify">
                    Si vous créez ou participez à un projet, cela vous donnera droit à des points de fidélité, sous forme de crédit, afin de soutenir d'autres campagnes de financement, Gratuitement ! Ainsi, plus vous participez, plus vous faites avancer les différents projets de GreenStarter, et ainsi, leur apporterez plus de visibilité.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="whitesection">
    <div class="container-perso">
        <h2 class="reveal title popular-projects">Projets populaires</h2>
        <div class="popular-img">
            <div class="overlayimg popular-margin reveal-left bdesktop3 desktop3 tablet12 phone12">
                <img class="img-fluid" src="img/city.jpg" alt="" title="">
                <div class="overlay">
                    <p>Titre</p>
                    <p>Description</p>
                </div>
            </div>
            <div class="overlayimg popular-margin reveal bdesktop3 desktop3 tablet12 phone12">
                <img class="img-fluid" src="img/city3.jpg" alt="" title="">
                <div class="overlay">
                    <p>Titre</p>
                    <p>Description</p>
                </div>
            </div>
            <div class="overlayimg popular-margin reveal-right bdesktop3 desktop3 tablet12 phone12">
                <img class="img-fluid" src="img/city4.jpg" alt="" title="">
                <div class="overlay">
                    <p>Titre</p>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="greensection">
    <div class="container-perso">
        <h2 class="reveal title">Blog et évènements</h2>
        <div class="blogevent">
            <div class="blogimg bdesktop5 desktop5 tablet12 phone12">
                <div class="overlayblogimg reveal-left bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/news.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
                <div class="overlayblogimg reveal-right bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/news2.jpg" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
                <div class="overlayblogimg reveal-left bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/news3.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
                <div class="overlayblogimg reveal-right bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/news4.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
            </div>
            <div class="blogimg bdesktop5 desktop5 tablet12 phone12">
                <div class="overlayblogimg reveal-left bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/event.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
                <div class="overlayblogimg reveal-right bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/event2.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
                <div class="overlayblogimg reveal-left bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/event3.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
                <div class="overlayblogimg reveal-right bdesktop6 desktop5 tablet5 phone12">
                    <img class="img-fluid" src="img/event4.png" alt="" title="">
                    <div class="overlayblog">
                        <p>Titre</p>
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whitesection reveal newslettersection section-2">
    <div class="newsletter container-perso">
        <div class="newsletterinfos">
            <h2 class="title reveal">Abonnez-vous à notre Newsletter</h2>
            <p class="reveal">Recevez des alertes de nouveaux projets et/ou évènements.</p>
            <div class="reveal">
                <form class="form">
                    <div class="col-8">
                        <input class="col-12" type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Saisissez votre adresse mail">
                    </div>
                    <button class="btnform col-4" type="submit">S'abonner</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
