.articletitle {
    margin-top: 5%;
}

.articletext {
    margin-top: 5%;
}

.articleoverlay {
    position: relative;
}

.articleoverlaytext {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.articlesection {
    margin-top: 3%;
}